# torch
# torchvision>=0.5
# opencv-python
# scipy
# numpy
# Pillow<8.3.0
# scikit-image
# python-bidi
# PyYAML

--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.8.0+cpu
torchvision==0.9.0+cpu
torchtext==0.9.0
opencv-python==4.2.0.32
pillow==8.0.1
paddleocr==2.0.6
paddlepaddle==2.1.1
paddlepaddle-gpu==2.1.1
PyMuPDF==1.18.14
fuzzywuzzy==0.18.0
seqeval
sklearn_crfsuite
streamlit
# pandas==1.2.4